.value-header {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #3D3D3D;
}

.value-paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #3D3D3D;
}

.mt-124 {
    margin-top: 124px;
}

.pt-180 {
    padding-top: 180px;
}